<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX Counter w/ Go back-end state</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="flex flex-col items-center justify-center h-screen bg-slate-400">
        <div id="counter" class="text-9xl text-slate-200">{{.CounterValue}}</div>
        <div class="flex space-x-4">
            <button hx-target="#counter" hx-post="/decrease" class="bg-slate-600 hover:bg-slate-800 rounded-lg py-2.5 px-4 text-white">
                (-) Decrease
            </button>
            <button hx-target="#counter" hx-post="/increase" class="bg-slate-600 hover:bg-slate-800 rounded-lg py-2.5 px-4 text-white">
                (+) Increase
            </button>
        </div>
    </div>
</body>

</html>